// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "t31.dtsi"

/ {
	compatible = "thingino,t31", "ingenic,t31";
	model = "Thingino T31 Generic Board";

	aliases {
		serial1 = &uart1;
	};

	chosen {
		stdout-path = "serial1:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};
};

&exclk {
	clock-frequency = <24000000>;
};

&uart1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart1>;
};

&mac {
	status = "okay";

	phy-mode = "rmii";
	phy-handle = <&eth_phy>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_mac>;
};

&mdio {
	eth_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&pinctrl {
	pins_uart1: uart1 {
		function = "uart1";
		groups = "uart1-data-b";
	};

	pins_mac: mac {
		function = "mac";
		groups = "mac-rmii";
	};
};
